<div class="jumbotron">
<h1>About us</h1>
<p>TechMeetups has been setup to create a global network of Tech communities from San Francisco to Sydney. We believe that Tech communities are isolated and great things can be achieved if we connect within our cities and outside our borders. Our goal is to create a global Tech cluster of over 50 inter-connected Tech communities by 2013.
Membership to our communities is free and anyone thinking about doing their own Startup and wanting to bounce ideas off each other, meet potential partners or investors in their city or even connect with like minded individuals in other parts of the world are welcome to join our groups! TechMeetups is all about YOU so come along, join us and lets connect to form a truly global tech community!

We are close to our community and strive to help everyone with their main challenges. For those looking to hire or find a job in a tech startup, we have TechStartupJobs. For companies looking to find new customers and early adopters, TechStartupDeals will help you reach all the members of our global community with your product. If you’re looking to expand to another location, then visit TechStartHub.</p>
</div>

